<script>

const $inputsAddFriend = document.querySelectorAll('.input-add-friend')

$inputsAddFriend.forEach(function(html_actual) {
  /*
    Envia uma requisição AJAX para o server que envia uma solicitação de amizade
    para o outro user
  */
  html_actual.addEventListener('click', function(e) {
    e.preventDefault();
    let user_id = e.currentTarget.dataset.id
    $.ajax({
      type: "POST",
      url: '{% url "social:friend_request" %}',
      data: {
        user_id: user_id,
      }
    }).done((response) => {
      const $form = $('.form-add-friend')[0]

      $form.innerHTML = `
        <p class='add-friend-ok'>
          Solicitação enviada,
          <a href="" class="undo_${user_id}">Desfazer</a>
        </p>
      `
      $(`a.undo_${user_id}`)[0].addEventListener('click', (e) => {
        e.preventDefault();
        $.post('{% url "social:friend_request" %}', {
          user_id: user_id,
        }).done((response) => {

          $form.innerHTML = `
            <p class='add-friend-ok'>Solicitação de amizade desfeita</p>
          `
        })
      })

    })
  })
})



</script>