{% load static %}

<script>

const Main = {
  // Função que inicia a classe
  init: function() {
    this.ajaxCsrfToken();
    this.casheSelectors();
    this.bindEvents();
  },

  // A seleção das tags HTML que serão usadas nos métodos
  casheSelectors: function() {
    this.$sendMessageForm = document.querySelector('.div-send-message-control')

    // Selecionando o HTML do chat
    this.$chatMessage = document.querySelector('.chat-messages')

    // O input
    this.$inputMessage = document.querySelector('.send-message')
  
    // Ul que fica a lista de amigos
    this.$friendsList = document.querySelectorAll('.friends-list')
  
    // O HTML do chat completo
    this.$chatDisplay = document.getElementById('chat_display')

  },

  // Criação do CSRF Token para a requisição AJAX
  ajaxCsrfToken: function() {
    // Cria uma validação de CSRF para metodos posts
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // Esses metodos não exigem proteção contra CSRF
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
      beforeSend: (xhr, settings) => {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      }
    });
  },

  // Eventos javascript
  bindEvents: function() {
    const self = this

    this.$friendsList.forEach(function(item, index) {
      // O index 0 é a <ul>, por isso não a ínclui
      if (index !== 0) {
        item.addEventListener(
          'click', self.Events.friendsList_click_ajax.bind(self))
      }
    });

    this.$inputMessage.onkeypress = self.Events.inputText_keypress.bind(self)

  },

  // Objeto que controla a conexão com o WebSocket
  WebSocket: {
    // Detecta se o site está usando HTTPS e faz a modificação na url
    detectSecureUrl: function() {
      this.base_url = "ws";
      if (document.location.protocol === "https:") {
        this.base_url += "s";
      }
      this.base_url += `://${window.location.host}/`; // ws/chat/room/${id}/
    },

    connect: function(friend_model_id) {
      this.detectSecureUrl();
      // Selecionando o HTML do chat
      this.$chatMessage = document.querySelector('.chat-messages')

      // URL do WebSocket
      let url = `${this.base_url}ws/chat/room/${friend_model_id}/`

      console.log(`WebSocket connected: ${url}`)

      const chatSocket = new WebSocket(url)

      // Evento de message do WebSocket
      chatSocket.onmessage = this.receiveChatMessage
      
      chatSocket.onclose = function(e) {
        console.log(`WebSocket: ${chatSocket.url} is closed`);
      }

      return chatSocket
    },
    
    // Recebe as mensagens do server e a coloca no HTML do chat
    receiveChatMessage: function(datas) {
      // O json que veio do server
      let data = JSON.parse(datas.data);
      // a mensagem digitada pelo usuário
      let message = document.createTextNode(data.message);

      let isMe = data.user !== '{{ request.user }}';

      if (!this.$chatMessage) {
         // Selecionando o HTML do chat se não existir
        this.$chatMessage = document.querySelector('.chat-messages');
      }

      if (isMe) {
        // Mensagem do User atual
        this.$chatMessage.innerHTML += `
          <div class="d-flex justify-content-start mb-4">
            <div class="msg_cotainer">
              ${message.textContent}
              <span class="msg_time">Now</span>
            </div>
          </div>
        `
      } else {
        // Mensagem do Outro User
        this.$chatMessage.innerHTML += `
          <div class="d-flex justify-content-end mb-4">
            <div class="msg_cotainer_send">
              ${message.textContent}
              <span class="msg_time_send">Now</span>
            </div>
          </div>
        `
      }

      this.$chatMessage.scrollTop = this.$chatMessage.scrollHeight

    },

  },

  // Objeto que contém os eventos javascript
  Events: {
    /*
    Quando o usuário clicar em um amigo na lista de amigos,
    fará uma requisição AJAX ao servidor e devolverá o chat desse mesmo amigo
    */
    friendsList_click_ajax: function(event) {
      event.preventDefault();
      // ID do model Friend
      let friend_model_id = event.currentTarget.dataset.id;

      // Desconecta do WebSocket atual para conectar a outro
      if (this.chatSocket) {
        this.chatSocket.close()
        delete this.chatSocket
      }

      $.ajax({
        // Faz a requisição AJAX ao servidor
        type: "POST",
        url:  "{% url 'chat:html_chat_ajax' %}",
        data: {
          friend_id: friend_model_id
        }
      }).done((html) => {
        // Conecta no WebSocket
        this.chatSocket = this.WebSocket.connect(friend_model_id)
        // Adiciona o Chat ao HTML atual
        $('#chat_display')[0].innerHTML = html

        // Seleciona as tags HTML novamente
        this.casheSelectors()
        // Adiciona o evento de KeyPress no input das mensagens
        this.$inputMessage.onkeypress = this.Events.inputText_keypress.bind(this)
        
        this.$chatMessage.scrollTop = this.$chatMessage.scrollHeight
      })

      // Quando o usuário abrir um chat, o botão de enviar
      // mensagem sairá do display none
      this.$sendMessageForm.classList.remove('display_none');
    },

    // Evento de click que envia a mensagem do usuário para o WebSocket
    inputText_keypress: function(event) {
      let currentTarget = event.currentTarget

      if (event.key !== "Enter" || currentTarget.value.trim() === '') {
        return
      }
      let message = currentTarget.value;
      let json_message = JSON.stringify({
        'message': message,
      })  // Transforma a mensagem em json

      // Envia para o WebSocket
      this.chatSocket.send(json_message);
      // Remove o conteudo que foi escrito no textarea da mensagem
      currentTarget.value = '';

      friend_object_id = currentTarget.dataset.id

      $.ajax({
        type: "POST",
        url: "{% url 'chat:chat_save_message_ajax' %}",
        data: {
          type: "text",
          message: message,
          friend_model_id: friend_object_id
        }
      });

    },

  }
}


Main.init()

</script>