{% load static %}

<script>

const Main = {
  // Função que inicia a classe
  init: function() {
    this.ajaxCsrfToken();
    this.casheSelectors();
    this.bindEvents();
  },

  // A seleção das tags HTML que serão usadas nos métodos
  casheSelectors: function() {
    this.$sendMessageForm = document.querySelector('.card-footer')
    this.$chatMessage = document.querySelector('.card-body.msg_card_body')  // Selecionando o HTML do chat
    this.$messageHTML = document.querySelector('.form-control.type_msg')  // O HTML textarea
    this.$friendsList = document.querySelectorAll('.friends-list')  // Ul que fica a lista de amigos
    this.$chatDisplay = document.getElementById('chat_display')  // O HTML do chat completo
  },

  // Criação do CSRF Token para a requisição AJAX
  ajaxCsrfToken: function() {
    // Cria uma validação de CSRF para metodos posts
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // Esses metodos não exigem proteção contra CSRF
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
      beforeSend: (xhr, settings) => {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      }
    });
  },

  // Eventos javascript
  bindEvents: function() {
    const self = this

    this.$friendsList.forEach(function(item, index) {
      // O index 0 é a <ul>, por isso não a ínclui
      if (index !== 0) {
        item.addEventListener('click', self.Events.friendsList_click_ajax.bind(self))
      }
    });

  },

  // Objeto que controla a conexão com o WebSocket
  WebSocket: {
    // Detecta se o site está usando HTTPS e faz a modificação na url
    detectSecureUrl: function() {
      this.base_url = "ws";
      if (document.location.protocol === "https:") {
        this.base_url += "s";
      }
      this.base_url += `://${window.location.host}/`; // ws/chat/room/${id}/
    },

    connect: function(friend_model_id) {
      this.detectSecureUrl();
      this.$chatMessage = document.querySelector('.card-body.msg_card_body')  // Selecionando o HTML do chat

      // URL do WebSocket
      let url = `${this.base_url}ws/chat/room/${friend_model_id}/`

      console.log(`WebSocket connected: ${url}`)

      const chatSocket = new WebSocket(url)

      // Evento de message do WebSocket
      chatSocket.onmessage = this.receiveChatMessage
      
      chatSocket.onclose = function(e) {
        console.log(`WebSocket: ${chatSocket.url} is closed`);
      }

      return chatSocket
    },
    
    // Recebe as mensagens do server e a coloca no HTML do chat
    receiveChatMessage: function(datas) {
      let data = JSON.parse(datas.data);  // O json que veio do server
      let message = document.createTextNode(data.message);  // a mensagem digitada pelo usuário

      let isMe = data.user !== '{{ request.user }}'

      if (!this.$chatMessage) {
         // Selecionando o HTML do chat se não existir
        this.$chatMessage = document.querySelector('.card-body.msg_card_body')
      }

      if (isMe) {
        // Mensagem do User atual
        this.$chatMessage.innerHTML += `
          <div class="d-flex justify-content-start mb-4">
            <div class="img_cont_msg">
              <img src="{% static "default_image/no_image.png" %}" class="rounded-circle user_img_msg">
            </div>
            <div class="msg_cotainer">
              ${message.textContent}
              <span class="msg_time">8:40 AM, Today</span>
            </div>
          </div>
        `
      } else {
        // Mensagem do Outro User
        this.$chatMessage.innerHTML += `
          <div class="d-flex justify-content-end mb-4">
            <div class="msg_cotainer_send">
              ${message.textContent}
              <span class="msg_time_send">8:55 AM, Today</span>
            </div>
            <div class="img_cont_msg">
              <img src="{% static "default_image/no_image.png" %}" class="rounded-circle user_img_msg">
            </div>
          </div>
        `
      }
    },

  },

  // Objeto que contém os eventos javascript
  Events: {
    /*
    Quando o usuário clicar em um amigo na lista de amigos,
    fará uma requisição AJAX ao servidor e devolverá o chat desse mesmo amigo
    */
    friendsList_click_ajax: function(event) {
      event.preventDefault();
      // ID do model Friend
      let friend_model_id = event.currentTarget.dataset.id

      // Desconecta do WebSocket atual para conectar a outro
      if (this.chatSocket) {
        this.chatSocket.close()
        delete this.chatSocket
      }

      $.ajax({
        // Faz a requisição AJAX ao servidor
        type: "POST",
        url:  "{% url 'chat:html_chat_ajax' %}",
        data: {
          friend_id: friend_model_id
        }
      }).done((html) => {
        // Conecta no WebSocket
        this.chatSocket = this.WebSocket.connect(friend_model_id)
        // Adiciona o Chat ao HTML atual
        $('#chat_display')[0].innerHTML = html

        // Seleciona o botão de envio de mensagens e adiciona o evento de click
        this.$sendButton = document.querySelector('span.input-group-text.send_btn')
        this.$sendButton.onclick = this.Events.sendButton_click.bind(this);
      })

      // Quando o usuário abrir um chat, o botão de enviar mensagem sairá do display none
      this.$sendMessageForm.classList.remove('display_none')
    },

    // Evento de click que envia a mensagem do usuário para o WebSocket
    sendButton_click: function(event) {
      let message = this.$messageHTML.value
      let json_message = JSON.stringify({
        'message': message,
      })  // Transforma a mensagem em json

      this.chatSocket.send(json_message)  // Envia para o WebSocket
      this.$messageHTML.value = ''  // Remove o conteudo que foi escrito no textarea da mensagem

      if (!this.$chatUser) {
        this.$chatUser = document.querySelector('.card-header.msg_head')
      }

      friend_object_id = this.$chatUser.dataset.id

      $.ajax({
        type: "POST",
        url: "{% url 'chat:chat_save_message_ajax' %}",
        data: {
          type: "text",
          message: message,
          friend_model_id: friend_object_id
        }
      })

    },
  }
}


Main.init()


// Ajax

const $chatButtonView = $("#chat_view_id")
const $requestsButtonView = $("#requests_view_id")


// Cria uma validação de CSRF para metodos posts
var csrftoken = Cookies.get('csrftoken');
function csrfSafeMethod(method) {
  // Esses metodos não exigem proteção contra CSRF
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken)
    }
  }
});

$requestsButtonView.click(function(e) {
  e.preventDefault();  // Evita o comportamento padrão do elemento
  // Envia uma requisição AJAX para o servidor
  $.ajax({
    type: "POST",
    url: "{% url 'chat:list_data_ajax' 'friend_requests' %}",
    data: {
      selected: ""
    }
  }).done(function(msg) {
    // Retorna a lista de amizades com solicitações pendentes
    $('ul.contacts.friends-list')[0].innerHTML = msg;
  });

  if ($chatButtonView[0].classList.contains('selected')) {
    $chatButtonView[0].classList.remove('selected')
  };
  $requestsButtonView[0].classList.add('selected')
});

$chatButtonView.click(function(e) {
  e.preventDefault();  // Evita o comportamento padrão do elemento
  // Envia uma requisição AJAX para o servidor
  $.ajax({
    type: "POST",
    url: "{% url 'chat:list_data_ajax' 'all_friends' %}",
    data: {
      selected: ""
    }
  }).done(function(msg) {
    // Retorna a lista de amizades que já foram aceitas
    $('ul.contacts.friends-list')[0].innerHTML = msg;
  });

  if ($requestsButtonView[0].classList.contains('selected')) {
    $requestsButtonView[0].classList.remove('selected')
  };
  $chatButtonView[0].classList.add('selected')
});

</script>