{% load static %}

<header id="navbar-header">
  <div class="main-container nav-content">
    <h1 class="nav-title">Chat<span>Server</span></h1>
    <nav>
      <ul class="center-links">
        <li>
          <a href="">
            Chats
          </a>
          <div class="link-animation"></div>
        </li>
        <li>
          <a href="">
            Social
          </a>
          <div class="link-animation"></div>
        </li>
        <li>
          <a href="">
            Extra
          </a>
          <div class="link-animation"></div>
        </li>
      </ul>
    </nav>
    <div class="user-content">
      <div class="user-nav-links">
        <ul class="navbar-nav flex-row d-none d-md-flex">
    
          
          <li class="nav-item dropdown me-3 me-lg-1">
            <a
              class="nav-link dropdown-toggle hidden-arrow"
              href=""
              role="button"
              aria-expanded="false"
            >
              <i class="fas fa-comments fa-2x"></i>
    
              <span class="badge rounded-pill badge-notification bg-danger">6</span><br>
              
            </a>
          </li>
    
          <li class="nav-item dropdown me-3 me-lg-1">
            <a
              class="nav-link dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-bell fa-2x"></i>
              <span class="badge rounded-pill badge-notification bg-danger">12</span><br>
              
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
    
          <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" href="#">
              <span><i class="fas fa-users fa-2x"></i></span>
              <span class="badge rounded-pill badge-notification bg-danger">2</span><br>
            </a>
          </li>
        </ul>
      </div>
      <div></div>
      <div class="nav-img-content">
        <img
          src="{% static 'default_image/EU.jpg' %}"
          class="rounded-circle principal-user-img"
          alt="Black and White Portrait of a Man"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</header>