<script>

const $navInputs = document.querySelectorAll('input.input-friend')

let csrftoken = Cookies.get('csrftoken');
function csrfSafeMethod(method) {
  // Esses metodos não exigem proteção contra CSRF
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken)
    }
  }
});

function updateNewRequest() {
  /* 
    Muda com uma requisição AJAX as notificações que mostra quantas solicitações
    de amizades não foram aceitas. Faz uma requisição na url social:count_request_view
    e retorna a quantidade de amizades não aceitas para o user atual
  */
  $.ajax({
    type: 'GET',
    url: "{% url 'social:count_request_view' %}",
  }).done((response) => {
    // Reposta do server
    let friend_requests_info = response.user_friends_count
    // O HTML que mostra a quantidade de pedidos
    const $requests = $(".badge.rounded-pill.badge-notification.bg-danger.requests")

    if (friend_requests_info === 0) {
      $requests[0].classList.add('display-none')
    } else {
      $requests[0].textContent = friend_requests_info
      $requests[0].classList.remove('display-none')
    }

  })
}

$navInputs.forEach(function(event) {
  /*
    Ajax que remove o HTML que mostra o usuário que envio a solicitação,
    e o remove conforme a ação do usuário (aceitar ou recusar a amizade).
  */
  event.addEventListener('click', function(e) {
    e.preventDefault();
    var currentTarget = e.currentTarget
    $.ajax({
      type: "POST",
      url: "{% url 'social:response_friend' %}",
      data: {
        friend_response: currentTarget.value,
        friend_model_id: currentTarget.dataset.id
      }
    }).done((response) => {
      $(`.user_${currentTarget.dataset.id}`).remove()
      updateNewRequest()
    })
  })
})


</script>