{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Criar um conta</title>
  <link rel="stylesheet" href="{% static "authentication/css/login.css" %}">
{% endblock head %}


{% block content %}
  <main class="container-login">
    <div class="login">
      <div class="chat-header">
        <h1>Criar conta</h1>
      </div>
      <div class="form-content">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
            <div class="{% if field.errors %}error{% endif %}">
              {{ field }}
              {{ field.errors }}
            </div>
          {% endfor %}
          <hr>
          <div class="submit-div">
            <input type="submit" value="Criar">
          </div>
        </form>
        <div class="create-profile-div">
          <p>Já tem uma conta? <a href="{% url "authentication:login" %}">Faça login aqui</a></p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}