@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');


/*  
main
MAIN

*/


main.main-container {
  display: flex;
  height: 100%;
  margin-top: 2rem;
}

.aside-friends-list {
  width: 30%;
  background-color: var(--color-one);
  border: 1px solid var(--color-five);
  height: 90vh;
}

.friends-list-header {
  height: 15%;
  padding: 2rem;
  background-color: var(--color-one);
  border-bottom: 1px solid var(--color-two);
}

.friends-list-header h1 {
  font-size: 3.5rem;
  color: black;
}

.form-search-chat {
  height: 7rem;
}

.form-search-chat .search-separator {
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-two);
  height: .1rem;
  margin: 1.5em auto 1.5rem;
}

.form-search-chat input {
  width: 100%;
  height: 3.5rem;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5rem;
  padding: 2rem;
  font-size: 1.6rem;
  transition: all 300ms ease-in-out;
  outline: 0px solid rgb(224, 224, 224);
}

.form-search-chat input:focus {
  outline: 1px solid var(--color-four);
}

.principal-div-friend-list {
  height: 85%;
}


ul.friends-list {
  height: 100%;
  list-style: none;
  padding: 1.5rem 0rem 0rem;
  overflow: auto !important;
  overflow-y: auto;
}

.friends-list li div.friend a {
  display: flex;
  align-items: center;
  padding: .8rem 0rem .8rem 1.3rem;
  transition: all 250ms ease-in-out;
}

.friends-list li div.friend a:hover {
  background-color: rgba(216, 216, 216, 0.473);
}

.friend-img-content {
  max-width: 8rem;
  max-height: 8rem;
  margin-right: 1.2rem;
}

.user_img {
  width: 100%;
  min-height: 8rem;
  border: 1px solid var(--color-two);
}

.friend-info {
  width: 100%;
  height: 100%;
}

.friend-username {
  color: black;
  font-size: 1.9rem;
  font-weight: bold;
  width: 100%;
}

.last-seen {
  font-size: 1.5rem;
  color: rgb(177, 177, 177);
}

.main-chat {
  width: 70%;
  height: 90vh;
  border-top: 1px solid var(--color-five);
  border-right: 1px solid var(--color-five);
  border-bottom: 1px solid var(--color-five);
}

/*

Chat

*/
.chat {
  padding-bottom: 3rem;
  min-height: 82%;
  max-height: 82%;
  background-color: rgb(250, 250, 250);
  border-right: 1px solid var(--color-five);

  overflow-y: auto;
}

.chat-header {
  height: 10%;
  display: flex;
  min-width: 100%;
  border-bottom: 1px solid var(--color-two);
  border-left: none;
  padding: 1rem 3rem;
  background-color: var(--color-one);
}

.chat-user-image {
  max-width: 8rem;
  margin-right: 1.6rem;
}

.chat-user-info {
  display: inline-block;
}

.chat-user-info div {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(27, 27, 27);
}

.chat-user-info p {
  font-size: 1.6rem;
  color:rgb(177, 177, 177);
}

.div-send-message-control {
  background-color: var(--color-one);
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  height: 8%;
  border: 1px solid var(--color-five);
  border-left: none;
}

.div-send-message {
  width: 95%;
}

.send-message {
  background-color: var(--color-one);
  border: 1px solid var(--color-two);
  outline: 0px solid var(--color-two);
  width: 100%;
  padding: 1rem 1.6rem;
  font-size: 1.9rem;
  border-radius: 5rem;
  transition: all 200ms ease-in-out;
}

.send-message:focus {
  outline: 1px solid var(--color-four);
}

.send-files {
  width: 5%;
  display: inline-block;
}

.send-files a {
  color: var(--color-three);
  transition: color 200ms ease-in-out;
}

.send-files a:hover, .send-files a:focus {
  color: var(--color-four)
}


/*
Mensagens
*/

/* Messages style */
.msg_cotainer, .msg_cotainer_send {
  margin-top: 4rem;
  padding: 1rem 1rem;
  font-size: 1.7rem;
  max-width: 60%;
  border-radius: 1rem;
  position: relative;

}


/* Other message style */
.msg_cotainer {
  word-break: break-all;
  background-color: rgb(240, 240, 240);
  margin-left: 2rem;

}

.msg_time, .msg_time_send {
  display: block;
  position: absolute;
  bottom: -2.8rem;
  font-size: 1.3rem;
}

.msg_time {
  float: left;
}

.msg_time_send {
  right: 0;
  color: #4f4f4f;
}

/* User message style */
.msg_cotainer_send {
  word-break: break-all;
  font-weight: 400;
  color: rgb(230, 230, 230);
  background-color: rgb(27, 145, 255);
  margin-right: 2rem;
}


.default-chat {
  background-color: var(--color-one);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-img-default-chat {
  width: 40%;
}

.content-img-default-chat img {
  width: 100%;
}

.default-chat-text {
  margin-top: 5rem;
}

.default-chat-text h2 {
  font-family: 'DynaPuff', cursive;
  font-size: 7rem;
  color:#63CCFF;
  text-align: center;
}


/* Scrollbar */

.chat::-webkit-scrollbar, .friends-list::-webkit-scrollbar {
  width: .5rem;
}

.chat::-webkit-scrollbar-track, .friends-list::-webkit-scrollbar-track {
  background: var(--color-two);
}

.chat::-webkit-scrollbar-thumb, .friends-list::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid var(--color-three);
}

/*

MEDIA

*/

