{% load static %}
{% load humanize %}

<!-- Chat -->

<div class="card-header msg_head" data-id="{{ friend_object.id }}">
  <div class="d-flex bd-highlight">

    <div class="img_cont">
      <img src="{% static "default_image/no_image.png" %}" class="rounded-circle user_img">
      <span class="online_icon"></span>
    </div>
    <div class="user_info">
      <span>{{ friend.username }}</span>
      <p>1767 Messages</p>

    </div>
  </div>
</div>


<div class="card-body msg_card_body">

    
  {% for message in messages %}
    {% if message.owner != request.user %}
      <div class="d-flex justify-content-start mb-4">
        <div class="img_cont_msg">
          <img src="{% static "default_image/no_image.png" %}" class="rounded-circle user_img_msg">
        </div>
        <div class="msg_cotainer">
          {{ message.get_message_content }}
          <span class="msg_time" style="text-align: left !important;">{{ message.created|naturalday }}</span>
        </div>
      </div>
    {% else %}
      <div class="d-flex justify-content-end mb-4">
        <div class="msg_cotainer_send">
          {{ message.get_message_content }}
          <span class="msg_time_send" style="text-align: right !important;">{{ message.created|naturalday }}</span>
        </div>
        <div class="img_cont_msg">
          <img src="{% static "default_image/no_image.png" %}" class="rounded-circle user_img_msg">
        </div>
      </div>
    {% endif %}
  {% endfor %}
    
</div>
