{% extends "base.html" %}
{% load static %}
{% load thumbnail %}


{% block head %}
  <link rel="stylesheet" href="{% static "social/css/social.css" %}">

  <title>Chat | Social</title>
{% endblock %}

{% block content %}


  <main class="main-container social">

    <div class="user-profile-details">
      <div class="perfil-image-content">
        <img
          {% with request.user.profile as user_profile %}
            {% if not user_profile.photo %}
              src="{% static 'default_image/no_image.png' %}"
            {% else %}
              src="{% thumbnail user_profile.photo 300x300 crop=True %}"
            {% endif %}
          {% endwith %}
          alt="" class="rounded-circle"
        >
      </div>
      <div class="div-separator"></div>
      <div class="user-info">
        <div class="info">
          <span class="default-text">Username:</span> <span>{{ request.user.username }}</span>
        </div>
      </div>
      <div class="div-separator"></div>
      <div class="about-me">
        <span class="default-text-inline">Sobre mim:</span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum aliquam pariatur ipsum dolore? Accusantium cupiditate ea nihil qui? Voluptates esse cum corporis, accusantium nisi repudiandae saepe quam officiis magnam consectetur?

      </div>
    </div>

    <div class="content-users-list">
      <div>

      </div>
      <div class="add-friends-content">
        <ul>

          {% for user in users %}
            <li class="add-user">
              <div class="user-image-content">
                <img
                  {% if not user.profile.photo %}
                    src="{% static "default_image/no_image.png" %}"
                  {% else %}
                    src="{% thumbnail user.profile.photo 300x300 crop=True %}"
                  {% endif %}
                  alt=""
                  class="rounded-circle"
                >
              </div>
              <div class="friend-user-info">
                <div>
                  <span class="username">{{ user }}</span>
                </div>
              </div>
              <div class="form-friend-request">
                <form action="{% url "social:friend_request" %}" method="post" class="form-add-friend">
                  {% csrf_token %}
                  <input type="submit" value="Enviar pedido de amizade" class="input-add-friend" data-id="{{ user.id }}">
                </form>
              </div>
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>
    
  </main>
  
{% endblock content %}

{% block dom_include %}
  {% include "social/html_js/social_js.html" %}
{% endblock %}