{% extends "base.html" %}
{% load static %}
{% load orl_filters %}
{% load thumbnail %}

{% block head %}

  <title>
    {% if friend %}
      Chat with {{ friend }}
    {% else %}
      Chat
    {% endif %}
  </title>
  <link rel="stylesheet" href="{% static "chat/css/style.css" %}">

{% endblock %}

{% block content %}
  <main class="main-container">
    <div class="aside-friends-list">
      <div class="friends-list-header">
        <h1>Chats</h1>
        <div class="form-search-chat">
          <div class="search-separator"></div>
          <input type="search" name="search-chat" id="search-chat" placeholder="Buscar contato">
        </div>
      </div>
      <div class="principal-div-friend-list">
        <ul class="friends-list">


          {% for my_friend in all_accepted_friends %}
            <li class="friends-list" data-id="{{ my_friend.id }}">
              <div class="friend">
                <a href="">
                  <div class="friend-img-content">
                    <img
                      {% with friend=my_friend|get_friend:request.user %}
                        {% if not friend.profile.photo %}
                          src="{% static 'default_image/no_image.png' %}"
                        {% else %}
                          src="{%  thumbnail friend.profile.photo 300x300 crop=True %}"
                        {% endif %}
                      {% endwith %}
                      class="rounded-circle user_img"
                      alt="Foto de usuário"
                      loading="lazy"
                    />
                  </div>
                  <div class="friend-info">
                    <div class="friend-username">
                      {% if my_friend.user_one == request.user %}
                        {{ my_friend.user_two }}
                      {% else %}
                        {{ my_friend.user_one }}
                      {% endif %}
                    </div>
                    <p class="last-seen">
                      {% if my_friend.user_one == request.user %}
                        {{ my_friend.user_two.last_login }}
                      {% else %}
                        {{ my_friend.user_one.last_login }}
                      {% endif %}
                    </p>
                  </div>
                </a>
              </div>
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>


    <div class="main-chat" id="chat_display">
      <div class="default-chat">
        <div class="content-img-default-chat">
          <img src="{% static "default_image/chat_default.svg" %}" alt="">
        </div>
        <div class="default-chat-text">
          <h2>Comece uma conversa!</h2>
        </div>
      </div>
    </div>

  </main>



{% endblock %}


{% block dom_include %}
  {% include "chat/js_html/chatSocket.html" %}
{% endblock %}